<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=icon href="<%= bot.users.cache.get('943516383554191360').avatarURL({dynamic: true, size: 4096}) %>">
    <title>kaan</title>
    <meta name="title" content="kaan">
    <meta property="image" content="<%= bot.users.cache.get('943516383554191360').avatarURL({dynamic: true, size: 4096}) %>">
    <meta property="og:url" content="/">
    <meta property="og:title" content="kaan">
    <meta property="og:image" content="<%= bot.users.cache.get('943516383554191360').avatarURL({dynamic: true, size: 4096}) %>">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css"
    integrity="sha384-IIED/eyOkM6ihtOiQsX2zizxFBphgnv1zbe1bKA+njdFzkr6cDNy16jfIKWu4FNH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/animations/scale.css">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://pro.fontawesome.com/releases/v5.13.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/beta.css">

</head>
  
  <body class="animate__animated animate__fadeIn">

    <div class="beta_section">
      <a href="https://discord.gg/KCfCMKnFzK" target="_blank"> <p>Ghost Development</p></a>
    </div>

  

    <div class="animate__animated animate__flash" id="spotifyListening">
    </div>

<body>
  <br></br>  
  
  <br></br>  
  <div class="head padding">
        <div class="head-img-section" id="savatar">
            <img alt="kaan Avatar" draggable="false" class="head-img" src="<%=bot.users.cache.get('943516383554191360').displayAvatarURL({dynamic: true, size: 4096})%>">
        </div>
        <div class="head-text-section">
          <b><%= bot.users.cache.get('943516383554191360').username %><span class="discrim">#<%= bot.users.cache.get('943516383554191360').discriminator %></span></b>
            <div class="head-text-exp">
              <span id="discordStatus"><span class="w-3 h-3 bg-gray-500 rounded-full inline-flex ml-1 mr-1 inline-block"></span> Lanyard Yükleniyor</span> <tippy id="lanyard"></i></tippy><br>
              <span id="spotify"><span class="w-3 h-3 bg-gray-500 rounded-full inline-flex ml-1 mr-1 inline-block"></span> Lanyard Yükleniyor</span> <tippy id="lanyard"></tippy>
            </div>
          </div>
    </div>


  <div class="projects padding section">
   <i class= "fas-fa discord"></i>     <p class="projects-title">Current Works</p>
<a href="https://discord.com/oauth2/authorize?client_id=797803769801736192&scope=bot&permissions=8" target="_blank">
            <div class="project mt-2 p-3 rounded-lg">
                <div class="project-left">
                    <div class="project-title">
                      <strong> Ghost Bot </strong> 
                    </div>
                    <div class="project-sdescription mt-1">
                        Founder & Developer <span class="ml-1 mr-1"></span>
                    </div>
                    <div class="project-description mt-1">
     <span id="statusContent"><span class="w-3 h-3 bg-green-500 rounded-full inline-flex ml-1 mr-2"></span>Online</span>   
                    </div>
                </div>
                <div class="project-right">
                    <img draggable="false" class="project-right-img" width="50" src="https://cdn.discordapp.com/avatars/797803769801736192/91f2ac3b14f581da2ae34b5b2d14e9dd.webp" alt="Linksee">
                </div>
            </div>
        </a>   
  </a>
    </div>
</div>
<div class="section padding">
<br><br><br>
 
</body>
          </div>
        </div>
  <br></br>  
  
  <br>  
<center><footer><strong> <i class="fas fa-code" style="color: #5555dd"></i> back-end / kaan#1337 <i class="fas fa-coffee" style="color: #5555dd"></i><br></strong></footer></center>
       
<script src="/css/lanyard.js"></script>
<script src="/css/time.js"></script>
<script src="/css/el.js" defer></script>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>
</html>
